extends ../../layout.pug

block content
        .content-header
            .container-fluid
                .row.mb-3.mt-3
                    .col-sm-6
                        h1.m-0.text-dark Review Products
               
        .content
            .container-fluid
                .row
                    .col-12
                        .card
                            .card-header
                                h3.card-title All Pending Products
                                form(action=`/dashboard/users/searchResult`, method="post")
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    .input-group.input-group-sm.float-right(style="width: 150px;")
                                        if dataProvided
                                            input.form-control.float-right(type="text", name="table_search", placeholder="Search")
                                        if tbSearch
                                            input.form-control.float-right(type="text", value = `${table_search}`, name="table_search", placeholder="Search")
                                        .input-group-append
                                        button.btn.btn-default(type="submit")
                                            i.fas.fa-search
                            .card-body.table-responsive.p-0
                                table.table.table-hover.text-nowrap
                                    thead
                                        tr

                                        th Product Name 
                                        th Product Class  
                                        th Product Variant  
                                        th Delete 
                                    tbody
                                        if dataProvided
                                            - var dataArray = dataProvided.docs
                                            - var hasPrev = dataProvided.hasPrevPage 
                                            - var hasNext = dataProvided.hasNextPage 
                                            - var totalPages = dataProvided.totalPages 
                                            - var pages = 1
                                            - var page = dataProvided.page 
                                            - var num = (page-1)*dataProvided.limit+1

                                            for product in dataArray
                                                tr
                                                td #{ product.name }
                                                td #{ product.classId.nameEnglish }
                                                td #{ product.varId.nameEnglish }
                                                td
                                                    form(action=`/dashboard/review/delete?id=${product.id}`, method="post")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                        button.btn-sm.btn-danger(type="submit")
                                                            i.fas.fa-trash-alt                                       
                            .card-footer.clearfix
                                    ul.pagination.pagination-sm.m-0.float-right
                                        if hasPrev
                                            li.page-item
                                                a.page-link(href=href=`/dashboard/review?p=${page - 1}`) «
                                        if totalPages > 1
                                            while pages  < 3            
                                                li.page-item
                                                    if pages === page
                                                        a.page-link.active( style="background-color:rgba(0,0,0,0.1); color:black;" )= pages
                                                    else
                                                        a.page-link.active( href=`/dashboard/review?p=${pages}`)= pages
                                                        
                                                - pages++    
                                
                                        if hasNext
                                            li.page-item
                                                a.page-link(href=`/dashboard/review?p=${page + 1}`) »                            