extends ../../layout.pug

block content
    .content-header
        .container-fluid
            .row.mb-3.mt-3
                .col-sm-6
                    h1.m-0.text-dark Review Orders

    .content
        .container-fluid
            if successes
                for success in successes
                    div.alert.alert-success #{ success }
            if errors
                for error, i in errors
                    div.alert.alert-danger #{ error.message }
            .row
                .col-12
                    .card
                        .card-header
                            h3.card-title All Pending Orders
                            form(action=`/dashboard/booking/searchResult`, method="post")
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                .input-group.input-group-sm.float-right(style="width: 150px;")
                                    if dataProvided
                                        input.form-control.float-right(type="text" name="table_search" placeholder="Search")
                                    if tbSearch
                                        input.form-control.float-right(type="text", value = `${table_search}`, name="table_search" placeholder="Search")
                                    .input-group-append
                                    button.btn.btn-default(type="submit")
                                        i.fas.fa-search
                        .card-body.table-responsive.p-0
                            table.table.table-hover.text-nowrap
                                thead
                                    tr

                                    th ID
                                    th Date 
                                    th Customer Name 
                                    th Customer Mobile No  
                                    th Status   
                                    th Review  
                                    th Total Price   
                                    th Review 
                                tbody
                                    if dataProvided
                                        - var dataArray = dataProvided.docs.reverse()
                                        - var hasPrev = dataProvided.hasPrevPage 
                                        - var hasNext = dataProvided.hasNextPage 
                                        - var totalPages = dataProvided.totalPages 
                                        - var pages = 1
                                        - var page = dataProvided.page 
                                        - var num = (page-1)*dataProvided.limit+1
                                        - var timeDiff
                                        - var timeDiffStr
                                        for dat in dataArray
                                            -  timeDiff = (dateNow - dat.createdAt)/1000
                                            if timeDiff < 60
                                                - timeDiffStr = Math.floor(timeDiff) + " seconds ago"
                                            else if timeDiff < 3600 && timeDiff > 60
                                                - timeDiffStr = Math.floor(timeDiff/60) + " minutes ago"
                                            else if timeDiff < 86400 && timeDiff > 3600
                                                - timeDiffStr = Math.floor(timeDiff/3600) + " hours ago"
                                            else if timeDiff < 259200 && timeDiff > 86400
                                                - timeDiffStr = Math.floor(timeDiff/86400) + " days ago"
                                            else if timeDiff > 259200 
                                                - timeDiffStr = dat.createdAt.toDateString()
                                            tr
                                                td #{ dat.orderId }
                                                td #{timeDiffStr }
                                                td #{ dat.nameCustomer }
                                                td #{ dat.customerMobileNo }
                                                td #{ dat.status }
                                                td #{ dat.review}
                                                td #{ dat.totalPrice }
                                                
                                                                                           
                                                td
                                                    a.btn-sm.btn-primary(href=`/dashboard/booking/view?id=${dat.id}`)
                                                        i.far.fa-eye
                                                        |  view                                      
                                    if tbSearch
                                        - var timeDiff
                                        - var timeDiffStr
                                        for tb in tbSearch
                                            -  timeDiff = (dateNow - tb.createdAt)/1000
                                            if timeDiff < 60
                                                - timeDiffStr = Math.floor(timeDiff) + " seconds ago"
                                            else if timeDiff < 3600 && timeDiff > 60
                                                - timeDiffStr = Math.floor(timeDiff/60) + " minutes ago"
                                            else if timeDiff < 86400 && timeDiff > 3600
                                                - timeDiffStr = Math.floor(timeDiff/3600) + " hours ago"
                                            else if timeDiff < 259200 && timeDiff > 86400
                                                - timeDiffStr = Math.floor(timeDiff/86400) + " days ago"
                                            else if timeDiff > 259200 
                                                - timeDiffStr = tb.createdAt.toDateString()
                                            tr
                                                td #{ tb.orderId }
                                                td #{timeDiffStr}
                                                td #{ tb.nameCustomer }
                                                td #{ tb.customerMobileNo }
                                                td #{ tb.status }
                                                td #{ tb.review}
                                                td #{ tb.totalPrice }
                                                
                                                                                           
                                                td
                                                    a.btn-sm.btn-primary(href=`/dashboard/booking/view?id=${tb.id}`)
                                                        i.far.fa-eye
                                                        |  view                                      
                                                                                      
                        .card-footer.clearfix
                            ul.pagination.pagination-sm.m-0.float-right
                                if hasPrev
                                    li.page-item
                                        a.page-link(href=href=`/dashboard/booking?p=${page - 1}`) «
                                if totalPages > 1
                                    while pages  < 3            
                                        li.page-item
                                            if pages === page
                                                a.page-link.active( style="background-color:rgba(0,0,0,0.1); color:black;" )= pages
                                            else
                                                a.page-link.active( href=`/dashboard/booking?p=${pages}`)= pages

                                        - pages++    

                                if hasNext
                                    li.page-item
                                        a.page-link(href=`/dashboard/booking?p=${page + 1}`) »                            