extends ../../layout.pug

block content
    .content-header
        .container-fluid
            .row.mb-3.mt-3
                .col-sm-6
                    h1.m-0.text-dark Booking Details
    if dataProvided
        .content
            .container-fluid
                if successes
                    for success in successes
                        div.alert.alert-success #{ success }
                if errors
                    for error, i in errors
                        div.alert.alert-danger #{ error.message }
                .row
                    .col-12
                        .card
                            .card-header
                                h3.card-title Details
                            .card-body.table-responsive.p-0
                                table.table.table-hover.text-nowrap
                                    tbody
                                        tr
                                            td Order ID
                                            td #{dataProvided.orderId}
                                        tr
                                            td Created at
                                            td #{dataProvided.createdAt}
                                        tr
                                            td الاسم
                                            td #{dataProvided.nameCustomer}
                                        tr
                                            td رقم التليفون
                                            td #{dataProvided.customerMobileNo} 
                                        tr
                                            td الحالة 
                                            td #{dataProvided.status}
                                        tr
                                            td السعر الكامل
                                            td #{dataProvided.totalPrice}
                    .col-12
                        .card
                            .card-header
                                h3.card-title All Orders

                            .card-body.table-responsive.p-0
                                table.table.table-hover.text-nowrap
                                    thead
                                        tr

                                        th Name
                                        th checkIn 
                                        th checkOut
                                        th Adults  
                                        th Child   
                                        th Nights  
                                        th Total Price   
                                    tbody
                                        for dat in dataProvided.orders
                                            tr
                                                td #{dat.propertyId.nameArabic}
                                                td #{dat.checkIn.toDateString()}
                                                td #{dat.checkOut.toDateString()}
                                                td #{dat.adults}
                                                td #{dat.child}
                                                td #{dat.nights}
                                                td #{dat.totalPrice} 

                    .ml-3.mb-3.mt-3
                        form(action="" method="" role)
                            button.btn.btn-success.float-right(type="submit") Confirm Booking
                    .ml-3.mb-3.mt-3
                        form(action="" method="")
                            button.btn.btn-danger.float-right(type="submit") Cannot Book
                            


                                                       