
extends ../../layout.pug

block content
    .content-header
        .container-fluid
            .row.mb-3.mt-3
                .col-sm-6
                    h1.m-0.text-dark Review
                .col-sm-6
                    a.btn.btn-primary.float-right(href="/dashboard/users/add")
                        |  Edit Product
                        
                    form(action=`/dashboard/review/product/accept?id=${dataProvided.id }`, method="post")
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                button.btn.btn-warning.float-right.mr-2(type="submit")
                                    i.fas.fa-check    
                                    |  Accept Reveiw

    .content
        .container-fluid
            .row.mb-5
                .col-12
                    .card
                        .card-header
                            h3.card-title Product Details
                        .card-body.table-responsive.p-0
                            table.table.text-nowrap
                                tbody
                                    tr
                                        td Store 
                                        td #{dataProvided.storeId.storeEnglish}
                                    tr
                                        td Product Sku
                                        td #{dataProvided.sku}
                                    tr
                                        td Product Name
                                        td #{dataProvided.name}
                                        
                                    tr
                                        td Product Class
                                        td #{dataProvided.classId.nameEnglish}
                                    tr
                                        td Product Type
                                        td #{dataProvided.typeId.nameEnglish}

            .row
                for color in dataProvided.productColors 
                    .col-12
                        .card
                            .card-header
                                h3.card-title All Variations
                            .card-body.table-responsive.p-0
                                table.table.text-nowrap
                                    thead
                                        tr
                                            th Color
                                            th Image 
                                            th(style="width:70%") Sizes
                                    tbody
                                        tr
                                        td #{color.colorId.name}
                                        td 
                                            img(src=`${color.image}` alt="Image Color or name" style="width:100%")
                                        td
                                            for size in color.colorSizes 
                                                .card
                                                   
                                                    .card-body.table-responsive.p-0
                                                        table.table.text-nowrap
                                                            thead
                                                                tr
                                                                    th Size
                                                                    th Quantity 
                                                                    th Other det
                                                            tbody
                                                                tr
                                                                td #{size.sizeId.nameEnglish}
                                                                td #{size.allQuantity}
                                                                td dsds


