extends ../../layout.pug

block content  
    .content-header
        .container-fluid
            .row.mb-3.mt-3
            .col-sm-6
                h1.m-0.text-dark تعديل سلايد

    .content
        .container-fluid
            if successes
                for success in successes
                    div.alert.alert-success #{ success }
            if errors
                for error, i in errors
                    div.alert.alert-danger #{ error.message }
        .container-fluid
            .row
            .col-12
                .card
                    .card-header
                        h3.card-title تفاصيل المنتج
                    form#addnewdata(role="form" action="/dashboard/slider/add" method="POST")
                        .card-body.row
                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                            .form-group.col-md-12
                                h3 تفاصيل عامة

                            .form-group.col-md-6
                                label(for="nameEnglish") عنوان السلايد
                                input.form-control#nameEnglish(type="text" name="title" placeholder="أدخل العنوان" value=`${dataProvided.title}`)
                            .form-group.col-md-12
                                label(for="nameArabic") الفقرة
                                input.form-control#nameArabic(type="text" name="subTitle" placeholder="أدخل الفقرة" value=`${dataProvided.subTitle}`)
                            .col-md-4.mt-5.mb-5
                                .form-check 
                                    input.form-check-input#check_btn(type="checkbox" name="isButton" value="true" checked= dataProvided.isButton=="true" ? true : false)
                                    label.form-check-label(for="check_btn") يوجد زر
                            .form-group.col-md-4
                                label(for="sku") نص الزر
                                input.form-control(type="text" name="btnText" placeholder="أدخل النص" value=`${dataProvided.btnText}`)            
                            .form-group.col-md-4
                                label(for="mobilenumber") لينك الزر 
                                input.form-control(type="number" name="link" placeholder="أدخل اللينك" value=`${dataProvided.link}`) 
                            .col-md-12
                                div#dropi.dropzone.dz_clickable
                        .card-footer
                            button.btn.btn-primary.float-right(type="submit") حفظ التعديلات

    script var featImageEdit = !{JSON.stringify(dataProvided.img)}
    script var add = !{false}
    script var postId = !{JSON.stringify(dataProvided._id)}


block scripts 
    script(src="/static/vendor/js/addSlide.js" type="text/javascript")


