extends ../../layout.pug

block content     
    if dataProvided       
        .content.mt-5
            .container-fluid
                if successes
                    for success in successes
                        div.alert.alert-success #{ success }
                if errors
                    for error, i in errors
                        div.alert.alert-danger #{ error.message }
                .row
                    .col-12
                        .card   
                            .card-header
                                h3.card-title Broker Information
                            form#addDataForm(action=`/dashboard/brokers/edit?id=${dataProvided.id}`, method="post" )
                                .card-body.row
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    .col-md-12
                                        .form-group.col-md-6
                                            label.control-label(for="typeEnglish") Name [Arabic]
                                            input#typeEnglish.form-control(type="text" name="name",value=`${dataProvided.name}`, placeholder="Enter Name in Arabic")
                                    .col-md-12
                                        .form-group.col-md-6
                                            label(for="typeArabic") Mobile Number
                                            input#typeArabic.form-control( type="text" name="mobileNo", value=`${dataProvided.mobileNo}`, placeholder="Enter Mobile Number")
                                    

                                .card-footer
                                    button.btn.btn-primary.float-right(type="submit") Update Broker
block scripts 
        script(src="/static/vendor/js/addBroker.js", type="text/javascript")