extends ../../layout.pug

block content  
    .content-header
        .container-fluid
            .row.mb-3.mt-3
            .col-sm-6
                h1.m-0.text-dark أضف مقال جديد

    .content
        .container-fluid
            if successes
                for success in successes
                    div.alert.alert-success #{ success }
            if errors
                for error, i in errors
                    div.alert.alert-danger #{ error.message }
        .container-fluid
            .row
            .col-12
                .card
                    .card-header
                        h3.card-title تفاصيل المقال
                    form#addnewdata(role="form" action="/dashboard/news/add" method="POST")
                        .card-body.row
                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                            .form-group.col-md-12
                                label(for="nameEnglish") عنوان المقال
                                input.form-control#nameEnglish(type="text" name="title" placeholder="اكتب اسم المقال")
                            .col-sm-6.col-md-6.col-lg-6
                                .form-group.form-group-select
                                    select.form-control(name="tag")
                                        option(value="news") خبر 
                                        option(value="portfolio") مشروع سابق
                            .col-md-12
                                .form-group
                                    label المقال
                                    textarea.htmlArticle(name="htmlArticle" placeholder="أدخل معلومات المقال هنا" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;")

                            .col-md-12
                                p أضف صورة المقال الأساسية
                                div#dropi.dropzone.dz_clickable
                        .card-footer
                            button.btn.btn-primary.float-right(type="submit") أضف مقال جديد

    script var featImageEdit = !{false}
    script var add = !{true}

block scripts 
    script(src="/static/vendor/js/addNews.js" type="text/javascript")
