extends ../../layout.pug


block content
    .content-header
        .container-fluid
            .row.mb-3.mt-3
            .col-sm-6
                h1.m-0.text-dark جميع الشهادات
    .content
        .container-fluid
            if successes
                for success in successes
                    div.alert.alert-success #{ success }
            if errors
                for error, i in errors
                    div.alert.alert-danger #{ error.message }
            .row
                .col-5
                    .card
                        .card-header
                            h3.card-title معلومات الشهادة
                        form#addData(action="/dashboard/certificates/add" method="post" role="form" autocomplete="off")
                            .card-body.row
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                .form-group.col-md-10
                                    label اسم الشهادة
                                    input.form-control#cardNum(type="text" name="name" placeholder="أدخل اسم الشهادة" )
                                .form-group.col-md-10
                                    label صورة الشهادة
                                    div#dropi.dropzone.dz_clickable

                            .card-footer
                                button.btn.btn-primary.float-right(type="submit") أضف

                .col-7
                    .card
                        .card-header
                            h3.card-title جميع الشهادات
                        .card-body.table-responsive.p-0
                            table.table.table-sm.table-hover.text-nowrap
                                thead
                                    tr
                                        th #
                                        th اسم الشهادة
                                        th صورة
                                        th تعديل
                                        th حذف
                                tbody
                                    if dataProvided.length != 0
                                        -var num =1
                                        for dat in dataProvided
                                            tr
                                                td #{num++}
                                                td #{dat.name}
                                                td 
                                                    img(src=`${dat.img}` width="50")
                                                td
                                                    a.btn-sm.btn-warning(href=`/dashboard/certificates/edit/${dat.id}`)
                                                        i.far.fa-edit
                                                        |  تعديل
                                                td
                                                    form(action=`/dashboard/certificates/delete/${dat.id}`, method="post")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                        button.btn-sm.btn-danger(type="submit")
                                                            i.far.fa-trash-alt
                                                            |  حذف
    script var featImageEdit = !{false}
    script var add = !{true}
block scripts 
    script(src="/static/vendor/js/addCert.js" type="text/javascript")
    