extends ../../layout.pug


block content
        .content-header
            .container-fluid
                .row.mb-3.mt-3
                .col-sm-6
                    h1.m-0.text-dark All Colors
        .content
            .container-fluid
                if successes
                    for success in successes
                        div.alert.alert-success #{ success }
                if errors
                    for error, i in errors
                        div.alert.alert-danger #{ error.message }
                .row
                    .col-5
                        .card
                            .card-header
                                h3.card-title Color Info
                            form(action="/dashboard/colors" method="post" role="form")
                                .card-body.row
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    .form-group.col-md-12
                                        label(for="serviceName") Color Name 
                                        input.form-control#serviceName(type="text", name="colorName", placeholder="Enter Color name")
                                    .form-group.col-md-12
                                        label(for="serviceHex") Color Hex 
                                        input.form-control#serviceHex(type="text", name="colorHex", placeholder="Enter Color Hex")
                                    button.btn.btn-primary.float-right(type="submit") Add Color
                            .card-footer
                                    
                    .col-7
                        .card
                            .card-header
                                h3.card-title All Colors 
                                .card-tools
                                .input-group.input-group-sm(style="width: 150px;")
                                    input.form-control.float-right(type="text", name="table_search", placeholder="Search")
                                    .input-group-append
                                    button.btn.btn-default(type="submit")
                                        i.fas.fa-search
                            .card-body.table-responsive.p-0
                                table.table.table-hover.text-nowrap
                                    thead
                                        tr
                                            th ID
                                            th Name 
                                            th Hex 
                                            th Edit
                                            th delete
                                    tbody
                                        
                                        if colors
                                            - var colorArray = colors.docs
                                            - var hasPrev = colors.hasPrevPage 
                                            - var hasNext = colors.hasNextPage 
                                            - var totalPages = colors.totalPages 
                                            - var pages = 1
                                            - var page = colors.page 
                                            - var num = (page-1)*colors.limit+1
                                            for color in colorArray
                                                tr
                                                    td #{num++}
                                                    td #{color.name}
                                                    td #{color.colorHex}
                                                    td
                                                        a.btn-sm.btn-primary(href=`/dashboard/colors/edit/${color.id}`)
                                                            i.far.fa-edit
                                                            |  Edit
                                                    td
                                                        form(action=`/dashboard/colors/delete/${color.id}`, method="post")
                                                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                            button.btn-sm.btn-danger(type="submit")
                                                                i.fas.fa-trash-alt
                                                                |  Delete
                            .card-footer.clearfix
                                ul.pagination.pagination-sm.m-0.float-right
                                    if hasPrev
                                        li.page-item
                                            a.page-link(href=href=`/dashboard/colors?p=${page - 1}`) «
                        
                                    if totalPages > 1
                                        while pages  < 3            
                                            li.page-item
                                                if pages === page
                                                    a.page-link.active( style="background-color:rgba(0,0,0,0.1); color:black;" )= pages
                                                else
                                                    a.page-link.active( href=`/dashboard/colors?p=${pages}`)= pages
                                                    
                                            - pages++    
                               
                                    if hasNext
                                        li.page-item
                                            a.page-link(href=`/dashboard/colors?p=${page + 1}`) »