extends ../layout.pug



block content
        .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1.m-0.text-dark لوحة التحكم
                    br
            section.content
                .container-fluid
                    .row
                        .col-lg-3.col-6
                            .small-box.bg-info
                                .inner
                                    h3 #{setting.dTimes}
                                    p عدد التحميلات
                                    .icon
                                        i.ion.ion-bag
                        .col-lg-3.col-6
                            .small-box.bg-warning
                                .inner
                                    h3 #{products.length}
                                    p منتج
                                    .icon
                                        i.ion.ion-bag
                        .col-lg-3.col-6
                            .small-box.bg-success
                                .inner
                                    h3 #{news.length}
                                    p خبر
                                    .icon
                                        i.ion.ion-bag
                        .col-lg-3.col-6
                            .small-box.bg-primary
                                .inner
                                    h3 #{clients.length}
                                    p عميل
                                    .icon
                                        i.ion.ion-bag
                        .col-lg-3.col-6
                            .small-box.bg-danger
                                .inner
                                    h3 #{certificates.length}
                                    p شهادة
                                    .icon
                                        i.ion.ion-bag
