extends ../../layout.pug


block content
        .content-header
            .container-fluid
                .row.mb-3.mt-3
                .col-sm-6
                    h1.m-0.text-dark All Citys
        .content
            .container-fluid
                if successes
                    for success in successes
                        div.alert.alert-success #{ success }
                if errors
                    for error, i in errors
                        div.alert.alert-danger #{ error.message }
                .row
                    .col-5
                        .card
                            .card-header
                                h3.card-title Area Info
                            form(action="/dashboard/logistic/citys" method="post" role="form")
                                .card-body.row
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    .form-group.col-md-10
                                        label(for="serviceenglish") City Name [ English ]
                                        input.form-control#serviceenglish(type="text", name="cityEnglish", placeholder="Enter City Name in english")
                                    .form-group.col-md-10
                                        label(for="servicearabic") City Name [ Arabic ]
                                        input.form-control#servicearabic(type="text", name="cityArabic", placeholder="Enter City name in arabic")
                                
                                    button.btn.btn-primary.float-right(type="submit") Add Service
                            .card-footer
                    .col-7
                        .card
                            .card-header
                                h3.card-title All Citys 
                                .card-tools
                                .input-group.input-group-sm(style="width: 150px;")
                                    input.form-control.float-right(type="text", name="table_search", placeholder="Search")
                                    .input-group-append
                                    button.btn.btn-default(type="submit")
                                        i.fas.fa-search
                            .card-body.table-responsive.p-0
                                table.table.table-hover.text-nowrap
                                    thead
                                        tr
                                            th ID
                                            th English 
                                            th Arabic 
                                            th Edit
                                            th delete
                                    tbody
                                        
                                        if citys
                                            - var cityArray = citys.docs
                                            - var hasPrev = citys.hasPrevPage 
                                            - var hasNext = citys.hasNextPage 
                                            - var totalPages = citys.totalPages 
                                            - var pages = 1
                                            - var page = citys.page 
                                            - var num = (page-1)*citys.limit+1
                                            for city in cityArray
                                                tr
                                                    td #{num++}
                                                    td #{city.nameEnglish}
                                                    td #{city.nameArabic}
                                                    td
                                                        a.btn-sm.btn-primary(href="#")
                                                            i.far.fa-edit
                                                            |  Edit
                                                    td
                                                        a.btn-sm.btn-danger(href="#")
                                                            i.fas.fa-trash-alt
                                                            |  Delete
                            .card-footer.clearfix
                                ul.pagination.pagination-sm.m-0.float-right
                                    if hasPrev
                                        li.page-item
                                            a.page-link(href=href=`/dashboard/logistic/citys?p=${page - 1}`) «
                        
                                    if totalPages > 1
                                        while pages  < 3            
                                            li.page-item
                                                if pages === page
                                                    a.page-link.active( style="background-color:rgba(0,0,0,0.1); color:black;" )= pages
                                                else
                                                    a.page-link.active( href=`/dashboard/logistic/citys?p=${pages}`)= pages
                                                    
                                            - pages++    
                               
                                    if hasNext
                                        li.page-item
                                            a.page-link(href=`/dashboard/logistic/citys?p=${page + 1}`) »