extends ../../layout.pug

block content     
    if cityToEdit       
        .content.mt-5
            .container-fluid
                if successes
                    for success in successes
                        div.alert.alert-success #{ success }
                if errors
                    for error, i in errors
                        div.alert.alert-danger #{ error.message }
                .row
                    .col-12
                        .card   
                            .card-header
                                h3.card-title City Data
                            form#addColorForm(action=`/dashboard/logistic/citys/edit/${cityToEdit.id}`, method="post" )
                                .card-body.row
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    .col-md-12
                                        .form-group.col-md-6
                                            label.control-label(for="nameEnglish") English Name
                                            input.form-control#nameEnglish(type="text" name="nameEnglish",value=`${cityToEdit.nameEnglish}`, placeholder="Enter English Name")
                                    .col-md-12
                                        .form-group.col-md-6
                                            label(for="nameArabic") Arabic Name
                                            input.form-control#nameArabic(type="text" name="nameArabic", value=`${cityToEdit.nameArabic}`, placeholder="Enter Arabic Name")
                                .card-footer
                                    button.btn.btn-primary.float-right(type="submit") Update City

                                         