extends ../../layout.pug


block content
        .content-header
            .container-fluid
                .row.mb-3.mt-3
                .col-sm-6
                    h1.m-0.text-dark All Sizes
        .content
            .container-fluid
                .row
                    .col-5
                        .card
                            .card-header
                                h3.card-title Size Info
                            form(action="/dashboard/sizes" method="post" role="form")
                                .card-body.row
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    .form-group.col-md-10
                                        label(for="serviceName") Size 
                                        input.form-control#serviceName(type="text", name="name", placeholder="Enter Size")
                                    .card-footer
                                    button.btn.btn-primary.float-right(type="submit") Add Size
                    .col-7
                        .card
                            .card-header
                                h3.card-title All Sizes 
                                .card-tools
                                .input-group.input-group-sm(style="width: 150px;")
                                    input.form-control.float-right(type="text", name="table_search", placeholder="Search")
                                    .input-group-append
                                    button.btn.btn-default(type="submit")
                                        i.fas.fa-search
                            .card-body.table-responsive.p-0
                                table.table.table-hover.text-nowrap
                                    thead
                                        tr
                                            th ID
                                            th Name 
                                            th Edit
                                            th delete
                                    tbody
                                        
                                        if sizes
                                            - var sizeArray = sizes.docs
                                            - var hasPrev = sizes.hasPrevPage 
                                            - var hasNext = sizes.hasNextPage 
                                            - var totalPages = sizes.totalPages 
                                            - var pages = 1
                                            - var page = sizes.page 
                                            for size in sizeArray
                                                tr
                                                    td 1
                                                    td #{size.name}
                                                    td
                                                        a.btn-sm.btn-primary(href="#")
                                                            i.far.fa-edit
                                                            |  Edit
                                                    td
                                                        a.btn-sm.btn-danger(href="#")
                                                            i.fas.fa-trash-alt
                                                            |  Delete
                            .card-footer.clearfix
                                ul.pagination.pagination-sm.m-0.float-right
                                    if hasPrev
                                        li.page-item
                                            a.page-link(href=href=`/dashboard/logistic/sizes?p=${page - 1}`) «
                        
                                    if totalPages > 1
                                        while pages  < 3            
                                            li.page-item
                                                if pages === page
                                                    a.page-link.active( style="background-color:rgba(0,0,0,0.1); color:black;" )= pages
                                                else
                                                    a.page-link.active( href=`/dashboard/logistic/sizes?p=${pages}`)= pages
                                                    
                                            - pages++    
                               
                                    if hasNext
                                        li.page-item
                                            a.page-link(href=`/dashboard/logistic/sizes?p=${page + 1}`) »