extends ../../layout.pug

block content
            .content-header
                .container-fluid
                    .row.mb-3.mt-3
                        .col-sm-6
                            h1.m-0.text-dark Add New Account
                    .content
                        .container-fluid
                            if successes
                                for success in successes
                                    div.alert.alert-success #{ success }
                            if errors
                                for error, i in errors
                                    div.alert.alert-danger #{ error.message }
                            .row
                                .col-12
                                    .card
                                        .card-header
                                            h3.card-title User Data
                                        form#adduserForm(action="/dashboard/users/add" method="post" enctype="multipart/form-data")
                                            .card-body.row
                                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                .col-md-12
                                                    .form-group.col-md-6
                                                        label.control-label(for="username") Username
                                                        input.form-control#username(type="text", name="username", value=`${sessionData ? sessionData.username : ''}`, placeholder="Enter Username")
                                                .col-md-12
                                                    .form-group.col-md-6
                                                        label(for="email") Email address
                                                        input.form-control#email(type="email", name="email",value=`${sessionData ? sessionData.email : ''}` , placeholder="Enter email Address")
                                                .col-md-12
                                                    .form-group.col-md-6
                                                        label(for="password") Password
                                                        input.form-control#password(type="password", name="password",value=`${sessionData ? sessionData.password : ''}` , placeholder="Password")
                                                .col-md-12
                                                    .form-group.col-md-6
                                                        label(for="mobilenumber") Mobile Number
                                                        input.form-control(type="text", value=`${sessionData ? sessionData.mobilenumber : ''}` , name="mobilenumber")
                                                .col-md-12
                                                    .form-group.col-md-6
                                                        label(for="exampleInputFile") File input
                                                        .input-group
                                                        .custom-file
                                                            input.custom-file-input#exampleInputFile(type="file" name="avatar")
                                                            label.custom-file-label(for="exampleInputFile") Choose file
                                                .col-md-12
                                                    .form-group.col-md-3
                                                        label(for="userrole") User Role
                                                        select.form-control#userrole(name="userrole", value=`${sessionData ? sessionData.userrole : ''}` )
                                                            option(value="0") Admin
                                                            option(value="1") Store Owner
                                            .card-footer
                                                 button.btn.btn-primary.float-right(type="submit") Add User
block scripts 
        script(src="/static/vendor/js/addUser.js", type="text/javascript")
