extends ../../layout.pug

block content
        .content-header
            .container-fluid
                .row.mb-3.mt-3
                    .col-sm-6
                        h1.m-0.text-dark جميع الحسابات
                    .col-sm-6
                        a.btn.btn-success.float-right(href="/dashboard/users/add")
                            i.fas.fa-plus
                            |  أضف حساب جديد
        .content
            .container-fluid
                .row
                    .col-12
                        .card
                            .card-header
                                h3.card-title جميع المستخدمين
                                form(action=`/dashboard/users/searchResult`, method="post")
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    .input-group.input-group-sm.float-right(style="width: 150px;")
                                        if users
                                            input.form-control.float-right(type="text", name="table_search", placeholder="ابحث")
                                        if tbSearch
                                            input.form-control.float-right(type="text", value = `${table_search}`, name="table_search", placeholder="ابحث")
                                        .input-group-append
                                        button.btn.btn-default(type="submit")
                                            i.fas.fa-search
                            .card-body.table-responsive.p-0
                                table.table.table-hover.text-nowrap
                                    thead
                                        tr
                                        th #
                                        th اسم المستخدم
                                        th البريد الالكتروني
                                        th تعديل
                                        th حذف
                                    tbody
                                        if tbSearch
                                            for tb in tbSearch
                                                tr
                                                td #{ tb.index }
                                                td #{ tb.username }
                                                td #{ tb.email }
                                                td
                                                    a.btn-sm.btn-primary(href=`/dashboard/users/edit/${tb.id}`)
                                                        i.far.fa-edit
                                                        |  تعديل
                                                td
                                                    form(action=`/dashboard/users/delete/${tb.id}`, method="post")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                        button.btn-sm.btn-danger(type="submit")
                                                            i.fas.fa-trash-alt
                                        if users
                                            for user in users
                                                tr
                                                td #{ user.index }
                                                td #{ user.username }
                                                td #{ user.email }
                                                td
                                                    a.btn-sm.btn-primary(href=`/dashboard/users/edit/${user.id}`)
                                                        i.far.fa-edit
                                                        |  تعديل
                                                td
                                                    form(action=`/dashboard/users/delete/${user.id}`, method="post")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                        button.btn-sm.btn-danger(type="submit")
                                                            i.fas.fa-trash-alt