extends ../websiteLayout.pug

block content 
    .blue-title
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    h1.pt-40 Certificates

    section#awards.awards.pb-70.pt-20
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    .heading.mb-50
                        span.heading__subtitle Fast Growing Industrial & Manufacturing Estates.
                        h5
                            | Providing High Performance Services For Multiple Industries And Technologies!
                    // /.heading
                    // /.col-lg-8
                    // /.row
            .row
                if dataProvided
                    for c in dataProvided
                        .col-sm-12.col-md-3.col-lg-3
                            .feature-item
                                .feature__img
                                    //data-title=`${c.name}`
                                    a(href=`${c.img}` data-toggle="lightbox"  data-title=`${c.name}` data-gallery="gallery")
                                        img.img-fluid(src=`${c.img}` alt=`Elsafa Plast certificate from ${c.name}`)
                                // /.feature-img
                                .feature__content
                                    h4.feature__title #{c.name}
block scripts
    script(src="/static/bower_components/admin-lte/plugins/ekko-lightbox/ekko-lightbox.min.js")
    script.
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true, 
                maxWidth: 1000, 
                width:1000, 
            });
            });
        })

