extends ../websiteLayout.pug

block content 

    section#page-title.page-title.page-title-layout10.text-center.bg-overlay.bg-overlay-3.bg-parallax
        .bg-img
            img(src="/static/images/bg.jpg" alt="background")
        .container
            .row
                .col-sm-12.col-md-12.col-lg-8.offset-lg-2
            h1.pagetitle__heading Certificates

    section#awards.awards
        .container
            .row
                if dataProvided
                    for c in dataProvided
                        .col-sm-12.col-md-3.col-lg-3
                            .feature-item
                                .feature__img
                                    //data-title=`${c.name}`
                                    a(href=`${c.img}` data-toggle="lightbox"  data-title=`${c.name}` data-gallery="gallery")
                                        img.img-fluid(src=`${c.img}` alt=`Elsafa Plast certificate from ${c.name}`)
                                // /.feature-img
                                .feature__content
                                    h4.feature__title #{c.name}
block scripts
    script(src="/static/bower_components/admin-lte/plugins/ekko-lightbox/ekko-lightbox.min.js")
    script.
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true, 
                maxWidth: 1000, 
                width:1000, 
            });
            });
        })

