extends ../websiteLayout.pug

block content 
    if slides
        section#slider2.slider.slider-2
            .carousel.owl-carousel.carousel-arrows.carousel-dots(data-slide='1' data-slide-md='1' data-slide-sm='1' data-autoplay='true' data-nav='true' data-dots='false' data-space='0' data-loop='true' data-speed='1000' data-transition='fade' data-animate-out='fadeOut' data-animate-in='fadeIn')
                for s in slides
                    .slide-item.align-v-h.bg-overlay
                        .bg-img
                            img(src=`${s.img}` alt=`${s.title}`)
                        .container
                            .row
                                .col-sm-8.col-md-8.col-lg-8.col-xl-6
                                    .slide__box.d-flex.flex-wrap.justify-content-between
                                        .slide__box-content
                                            h2.slide__title #{s.title}
                                            p.slide__desc #{s.subTitle}
                                            if s.isButton === "true"    
                                                a.btn.btn__primary(href=`${s.link}`) #{s.btnText}

    section#servicesCarousel.services.services-layout1.services-carousel.pt-0.mt-120
        .container
            .row.heading.mb-40
                .col-sm-12.col-md-12.col-lg-6
                    span.heading__subtitle Fast Growing Industrial & Manufacturing Estates.
                    h2.heading__title Provides High Performance Services For Multiple Industries And Technologies!
                // /.col-lg-6
                .col-sm-12.col-md-12.col-lg-6
                    p.heading__desc
                        | Yet those that embrace change are thriving, building bigger, better, faster, and
                        | stronger products than ever before. You are helping to lead the charge; we can help you build on your past
                        | successes and prepare for future.
                    .d-flex
                        a.btn.btn__primary.mt-30.mr-30(href='/certificates') See our Certificates

            .row
                .col-sm-12.col-md-12.col-lg-12
                    .carousel.owl-carousel.carousel-dots(data-slide='3' data-slide-md='2' data-slide-sm='1' data-autoplay='true' data-nav='false' data-dots='true' data-space='30' data-loop='true' data-speed='800')
                        if portfolio
                            for p in portfolio
                                .service-item
                                    .service__img
                                        img.img-fluid(src=`${p.featuredImage}` alt=`${p.title}`)
                                    .service__content
                                        h4.service__title #{p.title}
                                        a.btn.btn__secondary.btn__link(href=`/blog/${p.slug}`)
                                            i.icon-arrow-right.arrow-rounded
                                            span Read More
                                    // /.service-content
                                    // /.service-item

    section#banner4.banner.banner-4.bg-overlay.bg-parallax.pt-120.pb-0
        .bg-img
            img(src='/static/images/bg.jpg' alt='background')
        .container
            .row
                .col-sm-12.col-md-12.col-lg-7
                    form.contact__form-panel.mr-50.download_cat(action=`${setting.catalog}`)
                        .row
                            .col-sm-12.contact__form-panel-header
                                h4 Explore our brochure
                                p
                                    | Complete control over products allows us to ensure our customers receive the best quality prices
                                    | and service.
                            .col-sm-6.col-md-6.col-lg-6
                                .form-group
                                    input.form-control(type='text' placeholder='Name' name="name")
                            // /.col-lg-6
                            .col-sm-6.col-md-6.col-lg-6
                                .form-group
                                    input.form-control(type='text' placeholder='Phone' name="phone")
                            // /.col-lg-6
                            .col-sm-12.col-md-12.col-lg-12
                                .form-group

                                    input.form-control(type='email' placeholder='Email' name="email")
                            .col-sm-12.col-md-12.col-lg-12
                                .g-recaptcha.mb-20(data-sitekey="6LdDxdgZAAAAADsEY2lWdp3nIM9n82opFVtSBVcy")


                            .col-sm-12.col-md-12.col-lg-12
                                button.btn.btn__secondary.btn__block(type='submit') Download Catalog

                .col-sm-12.col-md-12.col-lg-5
                    .heading.heading-white.mb-40
                        span.heading__subtitle Setting A Global Standard In Industrial Contracting.
                        h3.heading__title Fast Growing Industrial & Manufacturing Estates.
                        p.heading__desc
                            | As a diversified construction management, design-build, and general contracting
                            | firm, Axima Group is recognized as one of the World's leading Industry and Manufacturing.

    //section#aboutLayout1.about.about-layout1.pt-120.pb-120
        .container
            .row
                .col-sm-12.col-md-12.col-lg-5
                    .heading.mt-40.mb-30
                        span.heading__subtitle Innovation From The Ground To The Skies.
                        h2.heading__title Customized Solutions Fits Every Industry Needs!
                        p.heading__desc
                            | Yet those that embrace change are thriving, building bigger, better, faster, and
                            | stronger products than ever before, We can help build on your past successes and prepare for future.
                            | Axima Group is one of the leading Industry.
                    // /heading
                    a.btn.btn__primary.btn__bordered.mb-40(href='#') More About Us
                // /.col-lg-5
                .col-sm-12.col-md-10.col-lg-7
                    .about__img
                        img.img-fluid.w-100(src='/static/websiteAssets/images/about/1.jpg' alt='about')
                        .cta__banner.d-flex
                            .cta__icon
                                i.icon-worker
                            h5.cta__title Join Us And Be Part Of Our Team!
                        // /.cta__banner
                        // /.col-lg-7
                        // /.row
                        // /.container

    //section#videoBanner.video-banner.video-banner-layout2.bg-overlay
        .bg-img
            img(src='/static/websiteAssets/images/backgrounds/1.jpg' alt='background')
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    .video__btn.text-center
                        a.popup-video(href='https://www.youtube.com/watch?4=&v=TKnufs85hXk')
                            span.video__player-animation
                            span.video__player-animation.video__player-animation-2
                            .video__player
                                i.fa.fa-play
                    // /.video__btn
                    // /.col-lg-12
                    // /.row
                    // /.container
    if products
        section#portfolioCarousel.portfolio-carousel.portfolio-classic.pt-90.pb-70
            .container
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        .carousel.owl-carousel.carousel-arrows(data-slide='3' data-slide-md='2' data-slide-sm='1' data-autoplay='true' data-nav='true' data-dots='false' data-space='30' data-loop='true' data-speed='800')

                            for p in products
                                .portfolio-item
                                    .portfolio__img
                                        img(src=`${p.images[0].imageLink}` alt=`Elsafa PLast ${p.title}`)
                                        a.view__icon(href=`/products/${p.slug}`) View
                                    // /.portfolio-img
                                    .portfolio__content
                                        h4.portfolio__title
                                            a(href=`/products/${p.slug}`) #{p.title}
    if clients
        section#clients.clients.border-top
            .container
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        .carousel.owl-carousel(data-slide='6' data-slide-md='4' data-slide-sm='2' data-autoplay='true' data-nav='false' data-dots='false' data-space='20' data-loop='true' data-speed='700')
                            for c in clients
                                .client
                                    img(src=`${c.img}` alt=`${c.title}`)


    //section#Banner3.banner.banner-3.p-0
        .container-fluid.col-padding-0
            .row
                .col-sm-12.col-md-12.col-lg-6.bg-theme
                    .inner-padding
                        .heading.heading-2.heading-white.mb-50
                            span.heading__subtitle Providing Full Range Of High Services & Soultions Worldwide.
                            h2.heading__title
                                | We Produce Positive Results From Ever Growing Industrial & Manufacturing
                                | Estates!
                            p.heading__desc
                                | Yet those that embrace change are thriving, building bigger, better, faster,
                                | and stronger products than ever before, We can help build on your past successes and prepare for
                                | future. Axima Group is one of the leading Industry and Manufacturing Corporation!
                            p.heading__desc
                                | As a diversified construction management, design-build, and general contracting
                                | firm, Industic Group is recognized as one of the World's leading Industry and Manufacturing
                                | Corporation!
                        // /.heading
                        a.btn.btn__white.btn__hover2.btn__lg(href='#') Schedule An Appointment
                // /.col-lg-6
                .col-sm-12.col-md-12.col-lg-6.bg-overlay.bg-parallax.pt-110.pb-110
                    .bg-img
                        img(src='/static/websiteAssets/images/banners/3.jpg' alt='background')
                    .banner__features-box
                        .banner__features-box-icon
                            i.icon-gears
                        h5.banner__features-box-title Latest Solutions, And Decades Of Experience.
                        p.banner__features-box-desc
                            | Axima is an Industrial Construction operator providing full range of
                            | services in the sphere of Mechanical Engineering worldwide.
                        ul.list-items.list-items-layout1.list-unstyled.mb-30
                            li Quality Control System
                            li 100% Satisfaction Guarantee
                            li Highly Professional Staff
                            li Accurate Testing Processes
                        a.btn.btn__primary.btn__link(href='#')
                            i.icon-arrow-right.arrow-rounded
                            span Explore Axima Features
                    // /.banner__features-box
                    // /.col-lg-6
                    // /.row
                    // /.container

    section#blogGridLayout2.blog.blog-grid.blog-grid-layout2.border-top.pt-120.pb-70
        .container
            .row
                .col-sm-12.col-md-12.col-lg-4
                    .heading.mb-50
                        span.heading__subtitle Latest Articles
                        h2.heading__title Insights, Trends and More 
                        a.btn.btn__primary.btn__bordered.mt-10(href='/blog') Elsafa Plast in News
                if news
                    for n, i in news
                        if i<5
                            .col-sm-12.col-md-6.col-lg-4
                                .blog-item
                                    .blog__img
                                        a(href=`/blog/${n.slug}`)
                                            img(src=`${n.featuredImage}` alt=`Elsafa Plast ${n.title}`)

                                    .blog__content
                                        .blog__meta
                                            span.blog__meta-date #{n.createdAt.toDateString()}
                                        // /.blog-meta
                                        h4.blog__title
                                            a(href=`/blog/${n.slug}`) #{n.title}

    script var doLink = !{JSON.stringify(setting.catalog)}
block scripts
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    script(src="/static/vendor/js/download.js" type="text/javascript")


