extends ../websiteLayout.pug

block content  
    if property
        main
            .container.margin_60_35
                .row
                    .col-lg-8

                        #carousel_in.owl-carousel.owl-theme(style="z-index:0")
                            for dat in property.images
                                .item
                                    img(src=`${dat.imageLink}` alt=`${dat.slugArabic}` height="400px" style="object-fit: cover;")
                        section#data
                                .detail_title_1
                                    h1=property.nameArabic 
                                .databar    
                                    a.address.views 
                                        span=property.views
                                    
                                    a.address.area 
                                        span=property.areaId.nameArabic
                                    a.address.type 
                                        span=property.type.nameArabic  
                                    a.address.rooms 
                                        span=property.rooms.nameArabic  
                                .description
                                    p=property.Address.desriptionArabic
                                .facil    
                                    h3 الخدمات
                                    ul.hotel_facilities
                                        for am in property.amenties
                                            li
                                                img(src=`/static/images/${am.icon}.svg`, alt)
                                                | #{am.nameArabic}                  
                        .opening
                            h4 الشروط و الأحكام
                            .row
                                .col-md-12
                                    ul
                                        li 1- فى حالة إلغاء الحجز يتم الإبلاغ قبل ميعاد الحجز ب 48 ساعة و إلا لن يتم إسترداد عربون الحجز                     
                                        li 2- لا يتم إسترداد مبلغ التأمين فى حالة وجود أى تلفيات داخل الوحدة                       
                                        li 3- برجاء الإلتزام بعدد الأفراد المتفق عليها فى الحجز                         
                                        li 4- أثناء الإستلام يرجى المعاينة التامة و التأكد من تطابقها مع العقد                       
                                        li 5- يتم دفع باقى مبلغ الحجز كامل عند إستلام الوحدة                     
                                        li 6- يتم الإلتزام بالمواعيد المتفق عليها عند إستلام و تسليم الوحدة                    
                                        li 7- المحافظة على نظافة الوحدة و تسليمها كما تم إستلامها                 
                    aside#sidebar.col-lg-4
                        .box_detail.booking
                            .price
                                span
                                    =property.price 
                                    | جم 
                                    small /ليلة
                            form#reqForm(action="/orders" method="POST")
                                #input-dates.form-group
                                    input.form-control(type='text' name='dateStart' placeholder='تاريخ الوصول' autocorrect="off")
                                    i.icon_calendar
                                #input-dates.form-group
                                    input.form-control(type='text' name='dateEnd' placeholder='تاريخ الإنتهاء' autocorrect="off")
                                    i.icon_calendar
                                .dropdown
                                    a(href='#' data-toggle='dropdown')
                                        | عدد فرد 
                                        span#qty_total 0
                                    .dropdown-menu.dropdown-menu-right
                                        .dropdown-menu-content
                                            label كبار
                                            .qty-buttons
                                                input.qtyplus(type='button' value='+' name='adults')
                                                input#adults.qty(type='text' name='adults' value='0')
                                                input.qtyminus(type='button' value='-' name='adults')
                                        .dropdown-menu-content
                                            label اطفال
                                            .qty-buttons
                                                input.qtyplus(type='button' value='+' name='child')
                                                input#child.qty(type='text' name='child' value='0')
                                                input.qtyminus(type='button' value='-' name='child')
                                .form-group
                                    input.form-control(type="text" name="nameCustomer" placeholder="الاسم")
                                .form-group
                                    input.form-control(type="number" name="customerMobileNo" placeholder="رقم التليفون")
                                .g-recaptcha(data-sitekey="6LcQjsMZAAAAAPs9aeCTGC8vIXfiaZRgHSpW_ji5")        
                                button.add_top_30.btn_1.full-width.purchase(type='submit') إحجز
                            .text-center
                                small سنتواصل معك بأقصي سرعة
                        .box_detail.booking
                                h3.bookingPropertyHead مطلبات الحجز 
                                ul.bookingProperty
                                    li صورة البطاقة الشخصية
                                    li قيمة ليلتين لتأكيد جدية الحجز
                                    li يفضل الحجز قبل 48 ساعة من الوصول 


                    .container.margin_60_35
                        .main_title_3
                            span
                            h2 وحدات ذات صلة
                            p  فى نفس المنطقة 
                        .row.add_bottom_30
                            for rp in relatedProducts
                                .col-lg-3.col-sm-6
                                    a.grid_item.small(href=`/list/${rp.slugArabic}`)
                                        figure
                                            img(src=`${rp.images[0].imageLink}`, alt)
                                            .info
                                                h3=rp.nameArabic
                    //  /row                
            script var propertyId = !{JSON.stringify(property._id)}
block scripts 
        script(src="https://www.google.com/recaptcha/api.js", async, defer)
        script(src="/static/websiteAssets/js/input_qty.js")
        script(src="/static/vendor/js/sendReq.js", type="text/javascript")


        