extends ../websiteLayout.pug

block content  
    if property
        main
            .container.margin_60_35
                .row
                    .col-lg-8
                        #carousel_in.owl-carousel.owl-theme.add_bottom_30(style="z-index:0")
                            for dat in property.images
                                .item
                                    img(src=`${dat.imageLink}` alt=`${dat.slugArabic}` height="400px" style="object-fit: cover;")

                        section#description
                            .detail_title_1
                                h1=property.nameArabic
                                a.address.views(href="" style="padding-top:30px") 
                                    | زيارات :
                                    strong=property.views
                                br    
                                a.address.area(href="" style="padding-top:10px") 
                                    | المنطقة : 
                                    strong=property.areaId.nameArabic
                                br    
                                a.address.type(href="" style="padding-top:10px") 
                                    | النوع: 
                                    strong=property.type.nameArabic  
                               
                            
                            ul(style="padding-top:15px; padding-bottom:15px;").hotel_facilities
                                for am in property.amenties
                                    li
                                        img(src=`/static/images/${am.icon}.svg`, alt)
                                        | #{am.nameArabic}                  
                            p=property.Address.desriptionArabic
                        if property.amenties
     
                    aside#sidebar.col-lg-4
                        .box_detail.booking
                            .price
                                span
                                    =property.price 
                                    | جم 
                                    small /ليلة
                            form#reqForm(action="/orders" method="POST")
                                #input-dates.form-group
                                    input.form-control(type='text' name='dates' placeholder='امتى')
                                    i.icon_calendar
                                .dropdown
                                    a(href='#' data-toggle='dropdown')
                                        | عدد فرد 
                                        span#qty_total 0
                                    .dropdown-menu.dropdown-menu-right
                                        .dropdown-menu-content
                                            label كبار
                                            .qty-buttons
                                                input.qtyplus(type='button' value='+' name='adults')
                                                input#adults.qty(type='text' name='adults' value='0')
                                                input.qtyminus(type='button' value='-' name='adults')
                                        .dropdown-menu-content
                                            label اطفال
                                            .qty-buttons
                                                input.qtyplus(type='button' value='+' name='child')
                                                input#child.qty(type='text' name='child' value='0')
                                                input.qtyminus(type='button' value='-' name='child')
                                .form-group
                                    input.form-control(type="text" name="nameCustomer" placeholder="الاسم")
                                .form-group
                                    input.form-control(type="number" name="customerMobileNo" placeholder="رقم التليفون")
                                button.add_top_30.btn_1.full-width.purchase(type='submit') أرسل
                            .text-center
                                small سنتواصل معك بأقصي سرعة
                    .container.margin_60_35
                        .main_title_3
                            span
                            h2 وحدات ذات صلة
                            p  فى نفس المنطقة 
                        .row.add_bottom_30
                            for rp in relatedProducts
                                .col-lg-3.col-sm-6
                                    a.grid_item.small(href=`/list/${rp.slugArabic}`)
                                        figure
                                            img(src=`${rp.images[0].imageLink}`, alt)
                                            .info
                                                h3=rp.nameArabic
                    //  /row                
            script var propertyId = !{JSON.stringify(property._id)}
block scripts 
        script(src="/static/websiteAssets/js/input_qty.js")
        script(src="/static/vendor/js/sendReq.js", type="text/javascript")


        