extends ../websiteLayout.pug

block content 
    section#page-title.page-title.page-title-layout10.text-center.bg-overlay.bg-overlay-3.bg-parallax
        .bg-img
            img(src="/static/images/bg.jpg" alt="background")
        .container
            .row
                .col-sm-12.col-md-12.col-lg-8.offset-lg-2
            h1.pagetitle__heading Our Portfolio


   
    section#blogGrid.blog.blog-grid
        .container
            .row
                if dataProvided 
                    for dat in dataProvided
                        .col-sm-12.col-md-6.col-lg-4
                            .blog-item
                                .blog__img
                                    a(href=`/blog/${dat.slug}`)
                                        img(src=`${dat.featuredImage}` alt=`Safa Plast ${dat.title}`)
                                // /.entry-img
                                .blog__content
                                    .blog__meta
                                        span.blog__meta-date #{dat.createdAt.toDateString()}
                                    // /.blog-meta
                                    h4.blog__title
                                        a(href=`/blog/${dat.slug}`) #{dat.title}
                                    a.btn.btn__secondary.btn__link(href=`/blog/${dat.slug}`)
                                        i.icon-arrow-right.arrow-rounded
                                        span Read More

            
