extends ../websiteLayout.pug

block content 
    .blue-title
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    h1.pt-40 Our Portfolio


   
    section#blogGrid.blog.blog-grid.pt-20
        .container
            .row
                if dataProvided 
                    for dat in dataProvided
                        .col-sm-12.col-md-6.col-lg-4
                            .blog-item
                                .blog__img
                                    a(href=`/blog/${dat.slug}`)
                                        img(src=`${dat.featuredImage}` alt=`Safa Plast ${dat.title}`)
                                // /.entry-img
                                .blog__content
                                    .blog__meta
                                        span.blog__meta-date #{dat.createdAt.toDateString()}
                                    // /.blog-meta
                                    h4.blog__title
                                        a(href=`/blog/${dat.slug}`) #{dat.title}
                                    a.btn.btn__secondary.btn__link(href=`/blog/${dat.slug}`)
                                        i.icon-arrow-right.arrow-rounded
                                        span Read More

            
