
extends ../websiteLayout.pug

block content  
    .blue-title
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    h1.pt-40 Our Products
    section#portfolioGrid.portfolio.portfolio-grid.portfolio-classic.pt-20
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12
                    ul.portfolio-filter.justify-content-center
                        li
                            a.filter.active(href='#' data-filter='all') All
                        if types
                            for t in types 
                                li
                                    a.filter(href='#' data-filter=`.filter-${t.slug}`) #{t.name}

                    #filtered-items-wrap.row
                        // portfolio item #1
                        if dataProvided
                            for p in dataProvided
                                -var slugFilter
                                if p.type 
                                -slugFilter = p.type.slug
                                else
                                -slugFilter="undef"
                                .col-sm-6.col-md-4.col-lg-3.mix(class=`filter-${slugFilter}`)
                                    .portfolio-item
                                        .portfolio__img
                                            if p.images.length != 0
                                                img(src=`${p.images[0].imageLink}` alt=`Elsafa Plast ${p.title}`)
                                            a.view__icon(href=`/products/${p.slug}`) View

                                        .portfolio__content
                                            h4.portfolio__title
                                                a(href=`/products/${p.slug}`) #{p.title}

                        
