extends ../websiteLayout.pug

block content 
    if dataProvided
        section#blogSingle.blog.blog-single.pt-40
            .container
                .row
                    .col-sm-12.col-md-6.col-lg-6
                        #slider2.slider.slider-2.product-slides
                            .carousel.owl-carousel.carousel-arrows.carousel-dots(data-slide='1' data-slide-md='1' data-slide-sm='1' data-autoplay='true' data-nav='true' data-dots='true' data-space='0' data-loop='true' data-speed='3000' data-transition='fade' data-animate-out='fadeOut' data-animate-in='fadeIn')
                             if dataProvided.images
                              for im in dataProvided.images
                                .slide-item.align-v-h.bg-overlay
                                    .bg-img
                                        img(src=`${im.imageLink}` alt=`Elsafa PLast ${dataProvided.title}`)



                    .col-sm-12.col-md-6.col-lg-6
                        .blog__content
                            h3 
                                | #{dataProvided.title}
                            .blog__desc
                                p !{dataProvided.htmlInfo}              
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        .product-tables
                            p  !{dataProvided.htmlTable}
                            