extends ../websiteLayout.pug

block content 
    section#blogSingle.blog.blog-single.pt-40
        .container
            .row

                .col-sm-12.col-md-12.col-lg-12
                    .blog-item
                        h3 #{dataProvided.title}
                        .blog__img
                            img(src=`${dataProvided.featuredImage}` alt=`ElsafaPlast ${dataProvided.title}`)

                        .blog__content
                            .blog__meta
                                span.blog__meta-date #{dataProvided.createdAt.toDateString()}
                            .blog__desc !{dataProvided.htmlArticle}




