doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    //meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    if setting
      link(href=`${setting.favicon}` rel='icon')
    if csrfToken
      meta(name="csrf-token", content=`${csrfToken}`)
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
    if metDescription
      meta(name="description" content=`${metDescription}`)
    if title  
      title=title
    if ogTitle
      meta(name="og:title" content=`${ogTitle}`)
    if ogDomain
      meta(name="og:title" content=`${ogDomain}`)
    meta(name="og:type" content="website")
    if metDescription
      meta(name="og:type" content=`${metDescription}`)
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Heebo:400,500,700%7cRajdhani:400,500,600,700&display=swap')
    link(rel='stylesheet' href='/static/websiteAssets/css/libraries.css')
    link(rel="stylesheet" href="/static/bower_components/admin-lte/plugins/ekko-lightbox/ekko-lightbox.css")
    link(rel='stylesheet' href='/static/websiteAssets/css/style.css')
    link(rel='stylesheet' href='/static/edits/edits.css')

  body
    .wrapper
      include partials/websiteHeader
      block content
      include partials/websiteFooter
      button#scrollTopBtn
        i.fa.fa-long-arrow-up



    script(src='/static/websiteAssets/js/jquery-3.3.1.min.js')
    script(src="/static/bower_components/jquery-validation/dist/jquery.validate.min.js", type="text/javascript")
    script(src='/static/websiteAssets/js/plugins.js')
    script(src='/static/websiteAssets/js/main.js')

block scripts 
