extends ../../layout.pug

block content     
    if dataProvided       
        .content.mt-5
            .container-fluid
                if successes
                    for success in successes
                        div.alert.alert-success #{ success }
                if errors
                    for error, i in errors
                        div.alert.alert-danger #{ error.message }
                .row
                    .col-12
                        .card   
                            .card-header
                                h3.card-title Variant Information
                            form#addVariantForm(action=`/dashboard/category/variants/edit?id=${dataProvided.id}`, method="post" )
                                .card-body.row
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    .col-md-12
                                        .form-group.col-md-6
                                            label.control-label(for="typeEnglish") Name [English]
                                            input#typeEnglish.form-control(type="text" name="variantEnglish",value=`${dataProvided.nameEnglish}`, placeholder="Enter Color Name")
                                    .col-md-12
                                        .form-group.col-md-6
                                            label(for="typeArabic") Name [Arabic]
                                            input#typeArabic.form-control( type="text" name="variantArabic", value=`${dataProvided.nameArabic}`, placeholder="Enter Color Hex")
                                    .col-md-12
                                        .form-group.col-md-6
                                            label  Type
                                            select.form-control.cityparent(name="parentType")
                                                option(selected ,value=`${dataProvided.parentType.id}`) #{dataProvided.parentType.nameEnglish}
                                                if types
                                                    - var typeArray = types
                                                    for t in typeArray
                                                        option(value=`${t.id}`) #{t.nameEnglish}
                                    .col-md-12
                                        .form-group.col-md-6
                                            label  Class
                                            select.form-control.cityparent(name="parentClass")
                                                option(selected ,value=`${dataProvided.parentClass.id}`) #{dataProvided.parentClass.nameEnglish}
                                                if classes
                                                    - var classesArray = classes
                                                    for c in classesArray
                                                        option(value=`${c.id}`) #{c.nameEnglish}
                                .card-footer
                                    button.btn.btn-primary.float-right(type="submit") Update Type
block scripts 
        script(src="/static/vendor/js/addVariant.js", type="text/javascript")