extends ../../layout.pug

block content     
    if dataProvided       
        .content.mt-5
            .container-fluid
                if successes
                    for success in successes
                        div.alert.alert-success #{ success }
                if errors
                    for error, i in errors
                        div.alert.alert-danger #{ error.message }
                .row
                    .col-12
                        .card   
                            .card-header
                                h3.card-title Amenity Information
                            form#addAmenForm(action=`/dashboard/category/amenties/edit?id=${dataProvided.id}`, method="post" )
                                .card-body.row
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    .col-md-12
                                        .form-group.col-md-6
                                            label.control-label(for="typeEnglish") Name [English]
                                            input#typeEnglish.form-control(type="text" name="nameEnglish",value=`${dataProvided.nameEnglish}`, placeholder="Enter Color Name")
                                    .col-md-12
                                        .form-group.col-md-6
                                            label(for="typeArabic") Name [Arabic]
                                            input#typeArabic.form-control( type="text" name="nameArabic", value=`${dataProvided.nameArabic}`, placeholder="Enter Color Hex")
                                    .col-md-10
                                        .form-group
                                        label Amenity Icon
                                        select.form-control.am-icons(name="icon")
                                            option(selected data-image=`/static/images/${dataProvided.icon}.svg` value=`${dataProvided.icon}`) #{dataProvided.icon}
                                                - var numImg = 10
                                                - for (var i = 1; i < numImg+1; i++) {
                                                    option(value=`${i}` data-image=`/static/images/${i}.svg`) #{i}
                                                - }

                                .card-footer
                                    button.btn.btn-primary.float-right(type="submit") Update Amenity
block scripts 
        script(src="/static/vendor/js/addAmen.js", type="text/javascript")