extends ../../layout.pug

block content
        .content-header
            .container-fluid
                .row.mb-3.mt-3
                    .col-sm-6
                        h1.m-0.text-dark All Ai Products 
                    .col-sm-6
                        a.btn.btn-success.float-right(href="/dashboard/users/add")
                            i.fas.fa-plus
                            |  Add New Product 
                        if productSetId    
                            form(action=`/dashboard/ai/products/${productSetId }/delete`, method="post")
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                button.btn.btn-danger.float-right.mr-2(type="submit")
                                    i.fas.fa-trash-alt    
                                    |  Delete All 
        .content
            .container-fluid
                .row
                    .col-12
                        .card
                            .card-header
                                h3.card-title All Products
                                form(action=`/dashboard/users/searchResult`, method="post")
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    .input-group.input-group-sm.float-right(style="width: 150px;")
                                        if dataProvided
                                            input.form-control.float-right(type="text", name="table_search", placeholder="Search")
                                        if tbSearch
                                            input.form-control.float-right(type="text", value = `${table_search}`, name="table_search", placeholder="Search")
                                        .input-group-append
                                        button.btn.btn-default(type="submit")
                                            i.fas.fa-search
                            .card-body.table-responsive.p-0
                                table.table.table-hover.text-nowrap
                                    thead
                                        tr

                                        th Username

                                        th Edit
                                        th delete
                                    tbody
                                        if dataProvided
                                            for product in dataProvided
                                                tr
                                                td #{ product.displayName }
                                                td
                                                    a.btn-sm.btn-primary(href=`/dashboard/users/edit/${product.displayName}`)
                                                        i.far.fa-edit
                                                        |  Edit
                                                td
                                                    form(action=`/dashboard/ai/products/delete?id=${product.name.split('/').pop()}`, method="post")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                        button.btn-sm.btn-danger(type="submit")
                                                            i.fas.fa-trash-alt