extends ../../layout.pug

block content  
    .content-header
        .container-fluid
            .row.mb-3.mt-3
            .col-sm-6
                h1.m-0.text-dark الاعدادات

    .content
        .container-fluid
            if successes
                for success in successes
                    div.alert.alert-success #{ success }
            if errors
                for error, i in errors
                    div.alert.alert-danger #{ error.message }
        .container-fluid
            .row
            .col-12
                .card
                    form#setData(role="form" action="/dashboard/settings/" method="POST")
                        .card-body.row
                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                            .form-group.col-md-6
                                label(for="nameEnglish") صفحة الفيس بوك
                                input.form-control#nameEnglish(type="text", name="facebook", placeholder="أدخل اللينك" value=`${dataProvided.facebook}`)
                            .form-group.col-md-6
                                label(for="nameArabic") صفحة اليوتيوب
                                input.form-control#nameArabic(type="text", name="youtube", placeholder="أدخل اللينك" value=`${dataProvided.youtube}`)
                            .form-group.col-md-6
                                label(for="nameArabic") صفحة لينكد ان
                                input.form-control#nameArabic(type="text", name="linkedin", placeholder="أدخل اللينك" value=`${dataProvided.linkedin}`)
                            .col-md-12
                                p  اللوجو
                                div#dropi_logo.dropzone.dz_clickable
                            .col-md-12
                                p  الكتالوج
                                div#dropi_cat.dropzone.dz_clickable
                            .col-md-12
                                p  الأيقونة
                                div#dropi_fav.dropzone.dz_clickable
                        .card-footer
                            button.btn.btn-primary.float-right(type="submit") حفظ التعديلات

    script var logo = !{JSON.stringify(dataProvided.logo)}
    script var catalog = !{JSON.stringify(dataProvided.catalog)}
    script var favicon = !{JSON.stringify(dataProvided.favicon)}

block scripts 
    script(src="/static/vendor/js/settings.js", type="text/javascript")
