extends ../../layout.pug

block content  
    .content-header
        .container-fluid
            .row.mb-3.mt-3
            .col-sm-6
                h1.m-0.text-dark Add New Property

    .content
        .container-fluid
            if successes
                for success in successes
                    div.alert.alert-success #{ success }
            if errors
                for error, i in errors
                    div.alert.alert-danger #{ error.message }
        .container-fluid
            .row
            .col-12
                .card
                    .card-header
                        h3.card-title Property Information
                    form#addnewprop(role="form" action="/dashboard/propertys/add" method="POST")
                        .card-body.row
                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                            .form-group.col-md-12
                                h3 Property General Information

                            .form-group.col-md-6
                                label(for="nameEnglish") Property Name [English]
                                input.form-control#nameEnglish(type="text", name="nameEnglish", placeholder="Enter Property Name In English")
                            .form-group.col-md-6
                                label(for="nameArabic") Property Name [Arabic]
                                input.form-control#nameArabic(type="text", name="nameArabic", placeholder="Enter Property Name in Arabic")

                            .form-group.col-md-4
                                label(for="mobilenumber") Mobile Number
                                input.form-control(type="text", name="mobileNumber" placeholder="Enter Mobile Number")            
                            .form-group.col-md-4
                                label(for="sku") SKU
                                input.form-control(type="text", name="sku" placeholder="Enter Sku Property")            
                            .col-md-12.pl-0
                                .form-group.col-md-4
                                    label(for="mobilenumber") Price 
                                    input.form-control(type="number", name="price" placeholder="Enter Price")            
                            .col-md-12.mt-5.mb-5
                                h3 Advanced Information
                            .col-md-12
                                .col-md-4
                                    .form-group
                                        label Property Type
                                        select(name="type").form-control.types
                                            option(selected disabled value='') Choose Type
                                            if rooms
                                                - var type = type
                                                for t in type
                                                    option(value=`${t.id}`)=`${t.nameEnglish} - ${t.nameArabic}` 
                                .col-md-4
                                    .form-group
                                        label Property No. of rooms
                                        select(name="rooms").form-control.norooms
                                            option(selected disabled value='') Choose Room
                                            if rooms
                                                - var type = rooms
                                                for t in type
                                                    option(value=`${t.id}`)=`${t.nameEnglish} - ${t.nameArabic}`     
                                .col-md-4
                                    .form-group
                                        label Amenties
                                        select.amenties(multiple,name="amenties", data-placeholder="Select Amenties", style="width: 100%;")
                                            if amen 
                                                for a in amen
                                                    option(value=`${a.id}`)=`${a.nameEnglish} - ${a.nameArabic}` 
                            
                            .col-md-12.mt-5.mb-5
                                h3 Property Info
                            .col-md-12
                                .col-md-4
                                    .form-group
                                        label Property Area
                                        select.form-control.nameArea(name="nameArea")
                                            option(selected disabled) Select Area
                                            if areas
                                                - var type = areas
                                                for t in type
                                                    option(value=`${t.id}`)=`${t.nameEnglish} - ${t.nameArabic}` 
                            .col-md-12
                                .col-md-6
                                    .form-group
                                        label Description in English
                                        textarea.form-control(name="desEnglish", rows="3", placeholder="Enter ...")
                            .col-md-12
                                .col-md-6
                                    .form-group
                                        label Description in Arabic
                                        textarea.form-control(name="desArabic", rows="3", placeholder="Enter ...")
                            .col-md-12
                                div#dropi.dropzone.dz_clickable
                        .card-footer
                            button.btn.btn-primary.float-right(type="submit") Add New Property

    script var data = !{false}
    script var add = !{true}

block scripts 
        script(src="/static/vendor/js/property.js", type="text/javascript")
