extends ../../layout.pug

block content
    .content-header
        .container-fluid
            .row.mb-3.mt-3
                .col-sm-6
                    h1.m-0.text-dark All Propertys 
                .col-sm-6
                    a.btn.btn-success.float-right(href="/dashboard/propertys/add")
                        i.fas.fa-plus
                        |  Add New Property
    .content
        .container-fluid
            .row
                .col-12
                    .card
                        .card-header
                            h3.card-title All Properties
                            form(action=`/dashboard/propertys/searchResult`, method="post")
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                .input-group.input-group-sm.float-right(style="width: 150px;")
                                    if propertys
                                        input.form-control.float-right(type="text" name="table_search" placeholder="Search")
                                    if tbSearch
                                        input.form-control.float-right(type="text", value = `${table_search}`, name="table_search" placeholder="Search")
                                    .input-group-append
                                    button.btn.btn-default(type="submit")
                                        i.fas.fa-search
                        .card-body.table-responsive.p-0
                            table.table.table-hover.text-nowrap
                                thead
                                    tr

                                    th Property Name
                                    th Status
                                    th Edit
                                    th Delete
                                tbody
                                    if tbSearch
                                        for tb in tbSearch
                                            tr
                                                td #{tb.nameEnglish}
                                                td 
                                                    span.tag.tag-success Active
                                                td
                                                    a.btn-sm.btn-primary(href=`/dashboard/propertys/edit/${tb.id}`)
                                                        i.far.fa-edit
                                                        |  Edit
                                                td
                                                    form(action=`/dashboard/propertys/delete/${tb.id}`, method="post")
                                                        input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                        button.btn-sm.btn-danger(type="submit")
                                                            i.fas.fa-trash-alt
                                                            |  Delete
                                    if propertys
                                        for property in propertys.docs
                                            tr
                                            td #{ property.sku }
                                            td
                                                span.tag.tag-success #{ property.status }
                                            td
                                                a.btn-sm.btn-primary(href=`/dashboard/propertys/${property.id}`)
                                                    i.far.fa-edit
                                                    |  view
                                            td
                                                form(action=`/dashboard/propertys/delete/${property.id}`, method="post")
                                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                                    button.btn-sm.btn-danger(type="submit")
                                                        i.fas.fa-trash-alt