nav.main-header.navbar.navbar-expand.navbar-dark.navbar-light
  ul.navbar-nav
    li.nav-item
      a.nav-link(data-widget="pushmenu", href="#", role="button")
        i.fas.fa-bars
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href="/" target="_blank") الموقع
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href="/dashboard") لوحة التحكم
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href="/dashboard/messages") الرسائل

  ul.navbar-nav.mr-auto-navbav
    //- li.nav-item.dropdown
      a.nav-link(data-toggle="dropdown", href="#")
        i.far.fa-bell
        span.badge.badge-warning.navbar-badge 15
      .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
        span.dropdown-header 15 Notifications
        .dropdown-divider
        a.dropdown-item(href="#")
          i.fas.fa-envelope.mr-2
          |  4 new messages

          span.float-right.text-muted.text-sm 3 mins
        .dropdown-divider
        a.dropdown-item(href="#")
          i.fas.fa-users.mr-2
          |  8 friend requests

          span.float-right.text-muted.text-sm 12 hours
        .dropdown-divider
        a.dropdown-item(href="#")
          i.fas.fa-file.mr-2
          |  3 new reports
          span.float-right.text-muted.text-sm 2 days
        .dropdown-divider
        a.dropdown-item.dropdown-footer(href="#") See All Notifications
    if thisUser       
      li.nav-item.dropdown.user-menu
          a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown")
            img.user-image.img-circle.elevation-2(src=`${thisUser.avatar}`, alt="User Image")
            span.d-none.d-md-inline #{thisUser.username}
          ul.dropdown-menu.dropdown-menu-lg.dropdown-menu-right
            li.user-header
                img.img-circle(width="100" ,src=`${thisUser.avatar}`, alt="User Image")
                p #{thisUser.username}
                  //small Member since Nov. 2012
            li(style="display:flex; height:auto; justify-content:space-between;align-items:center").user-footer
              a.btn.btn-default.btn-flat(href=`/dashboard/users/edit/${thisUser.id}`) Profile
              form(action="/dashboard/logout" method="post" style="display:inline-block; margin-bottom:0px; width:100%;").form-group
                  input(type="hidden" name="_csrf" value=`${csrfToken}`)
                  input(type="submit" value="Sign out").btn.btn-default.btn-flat.float-right 