if data 
    for dat in data.docs 
        .col-md-6
                .strip.grid
                    figure
                        a(href=`${dat.slugArabic}`)
                            img.img-fluid(src=`${dat.images[0].imageLink}`, alt)
                            .read_more
                                span أعرف أكتر 
                        small=dat.type.nameArabic
                    .wrapper
                        h3
                            a(href=`/list/${dat.slugArabic}`)=dat.nameArabic
                        small=dat.rooms.nameArabic
                        p=dat.Address.desriptionArabic
                    ul(style="display:flex; justify-content:space-between;align-items:center")
                        li
                            span.loc_open=dat.areaId.nameArabic
                        li
                            .score
                                strong=`${dat.price} جنية الليلة`