if data 
    - var image = '/static/images/fpo.png';
    for dat in data.docs
        if dat.images[0].imageLink 
            - image = dat.images[0].imageLink 
        .col-md-6
                .strip.grid
                    figure
                        a.wish_bt=dat.views
                        a(href=`/list/${dat.slugArabic}`)
                            img.img-fluid(src=`${image}`, alt)
                            .read_more
                                span أعرف أكتر 
                        small=dat.type.nameArabic
                    .wrapper
                        h3
                            a(href=`/list/${dat.slugArabic}`)=dat.nameArabic
                        small=dat.rooms.nameArabic
                        p(style="line-height: 18px;max-height: 54px;overflow: hidden;")=dat.Address.desriptionArabic
                    ul(style="display:flex; justify-content:space-between;align-items:center")
                        li
                            span.loc_open=dat.areaId.nameArabic
                        li
                            .score
                                strong=`${dat.price} جنية الليلة`