aside#sidebar.col-lg-3
        form(method="get",action="/search")#filters_col
            a#filters_col_bt(data-toggle="collapse", href="#collapseFilters", aria-expanded="false", aria-controls="collapseFilters") 
            | عايز تأجر ؟
            .collapse.show#collapseFilters
                .filter_type
                    h6 نوع الوحدة
                    ul
                        if types
                            for t in types
                                - found = false   
                                if( typesQuery.includes(t.id) ) 
                                  - found =true   
                                li
                                    label.container_check=t.nameArabic
                                        
                                        input(type="checkbox" name="type" value=t.id checked=found)
                                        span.checkmark                     
                 
                .filter_type
                    h6 السعر
                    //type="text" name="price" 
                    div(id="amount" style="border:0; color:#333; margin-bottom:10px")   
                        | من  
                        span.minVal
                        |  إلي  
                        span.maxVal
                        input#minValPrice(type="text" name="minValPrice" hidden value=`${minValPrice}`)
                        input#maxValPrice(type="text" name="maxValPrice" hidden value=`${maxValPrice}`)
                    div#slider-range 
                .filter_type
                    h6 المكان
                    ul
                       if areas
                            for a in areas
                                - areaFound = false   
                                if( areaQuery.includes(a.id)) 
                                    - areaFound =true  
                                li
                                    label.container_check=a.nameArabic 
                                        input(type="checkbox" name="area" value=a.id checked=areaFound)
                                        span.checkmark
                .filter_type
                    h6 عدد الغرف
                    ul
                        if rooms
                            for r in rooms
                                - foundRoom = false   
                                if( roomsQuery.includes(r.id) ) 
                                    - foundRoom =true   
                                li
                                    label.container_check=r.nameArabic  
                                        input(type="checkbox" name="room" value=r.id checked=foundRoom)
                                        span.checkmark
                .filter_type
                    h6 الخدمات
                    ul
                        if amen
                            for am in amen
                                - foundamen = false   
                                if( amentiesQuery.includes(am.id) ) 
                                    - foundamen = true   
                                li
                                    label.container_check=am.nameArabic  
                                        input(type="checkbox" name="amenties" value=am.id checked=foundamen)
                                        span.checkmark
                .filter_type
                    h6 
                    input.btn_1.add_top_10(style="width:100%;",type="submit" value="دورلى")  
